.splash-screen {
    width: 100vw;
    height: 100vh;
    background-color: #3f6d48;
  }
  .splash-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  .splash-content img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    animation-name: slider;
    animation-duration: 3s;
    position: relative;
  }
  
  @keyframes slider {
    from {
      width: 300px;
      opacity: 0;
    }
    to {
      width: 2500px;
      opacity: 1;
    }
  
  }
  